<!DOCTYPE html>
<html>

<head>

	<title>Alarm App</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="assets/css/style.css" />
	<link rel="stylesheet" href="assets/css/form.css" />
	<link rel="stylesheet" href="assets/css/slide.css" />
	<link rel="stylesheet" href="assets/css/columns.css" />
	<link rel="stylesheet" href="assets/css/onoffswitch.css" />
	<link rel="shortcut icon" type="image/png" href="cloud-clock.png" />
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="dist/bootstrap-clockpicker.min.css">
</head>
<style>
	.datebox-active {
		background-color: #008000;
	}

	.modal {
		display: none;
		/* Hidden by default */
		position: fixed;
		/* Stay in place */
		z-index: 1;
		/* Sit on top */
		padding-top: 100px;
		/* Location of the box */
		left: 0;
		top: 0;
		width: 100%;
		/* Full width */
		height: 100%;
		/* Full height */
		overflow: auto;
		/* Enable scroll if needed */
		background-color: rgb(0, 0, 0);
		/* Fallback color */
		background-color: rgba(0, 0, 0, 0.8);
		/* Black w/ opacity */
	}

	/* Modal Content */
	.modal-content {
		margin: auto;
		width: 50%;
	}

	input[data-readonly] {
		pointer-events: none;
	}


	body {
		background: #202024;
		color: white;
	}

	body.is-loading *,
	body.is-loading *:before,
	body.is-loading *:after {
		-moz-animation: none !important;
		-webkit-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
		-moz-transition: none !important;
		-webkit-transition: none !important;
		-ms-transition: none !important;
		transition: none !important;
	}

	.form-control:required:focus {
		display: none;
	}
</style>

<body class="body">

	<div class="header">
		<a href="/" class="logo"><img src="images/logo.png" width="66.25" height="20"></a>
		<!-- Dẫn về Home-->
		<div class="header-center">
			<a class="active" href="/">Home</a>
			<!-- Dẫn về Home-->
			<a href="AboutUs.html">About Us</a>
			<!-- Dẫn về Page About-->
			<a href="/signOut">Lost?</a>
			<!-- Dẫn đến Page hướng dẫn (Video hoặc Hình ảnh nếu thích)-->
		</div>

		<div class="header-right">
			Login <%= email %>
			<!-- Dẫn đến Page Login-->
		</div>
	</div>
	<br>
	<br>
	<!-- Banner -->
	<div class="slideshow-container">
		<div class="mySlides fade">
			<img src="images/LDK.png" style="width: 100%">
		</div>

		<div class="mySlides fade">
			<img src="images/NHL.png" style="width: 100%">
		</div>

		<div class="mySlides fade">
			<img src="images/TKM.png" style="width: 100%">
		</div>

		<div class="mySlides fade">
			<img src="images/PPN.png" style="width: 100%">
		</div>
	</div>
	<br>

	<!-- Banner -->

	<!-- Main -->
	<div id="main">
		<div class="inner">

			<!--Nút bấm tạo báo thức mới-->
			<div class="centerbtn">
				<Button class="btn info" style="font-size: 20px;" onclick="openAlarmForm()">Create New</Button>
			</div>

			<br> <br>
			<hr>
			<br>
			
			
			
			<!-- Thùng hàng chứa báo thức foreach ra -->
			<div class="thumbnails">
				<% alarmList.forEach(function(alarm){ %>
					<div id="<%= alarm.alarmId %>" class="box">
						<br>
					
						<!-- Color: Green = đã đặt báo thức  -->
						<i id="<%= alarm.alarmId %>" class="fa fa-clock-o"
							style="font-size: 8rem; color: <% if(alarm.started){ %>
								#008000
							  <% } else{ %>  
								#808080
							 <% } %>;" aria-hidden="true"></i>
							
						<div class="inner">
							<h3 id="time"><%=alarm.hour%>:<%=alarm.minute%></h3>
							<p id="title"><%=alarm.title%></p>
				
							<p>
								<span id="<%= alarm.alarmId %>_mo" onclick="dateboxColor(id)"
								style="cursor: pointer; font-weight: bold;font-size: 14px;line-height: 35px ; width: 35px; border: 2px solid;display: inline-block;color:  <% if(alarm.monday){ %>
									#008000
								  <% } else{ %>  
									#808080
								 <% } %>; text-align: center;border-radius: 4px;">Mon</span>
								<span id="<%= alarm.alarmId %>_tu" onclick="dateboxColor(id)"
								style="cursor: pointer; font-weight: bold;font-size: 14px;line-height: 35px ; width: 35px; border: 2px solid;display: inline-block;color:  <% if(alarm.tuesday){ %>
									#008000
								  <% } else{ %>  
									#808080
								 <% } %>;text-align: center;border-radius: 4px;">Tue</span>
								<span id="<%= alarm.alarmId %>_we" onclick="dateboxColor(id)"
								style="cursor: pointer; font-weight: bold;font-size: 14px;line-height: 35px ; width: 35px; border: 2px solid;display: inline-block;color:  <% if(alarm.wednesday){ %>
									#008000
								  <% } else{ %>  
									#808080
								 <% } %>;text-align: center;border-radius: 4px;">Wed</span>
								<span id="<%= alarm.alarmId %>_th" onclick="dateboxColor(id)"
								style="cursor: pointer; font-weight: bold;font-size: 14px;line-height: 35px ; width: 35px; border: 2px solid;display: inline-block;color:  <% if(alarm.thursday){ %>
									#008000
								  <% } else{ %>  
									#808080
								 <% } %>;text-align: center;border-radius: 4px;">Thu</span>
								<span id="<%= alarm.alarmId %>_fr" onclick="dateboxColor(id)"
								style="cursor: pointer; font-weight: bold;font-size: 14px;line-height: 35px ; width: 35px; border: 2px solid;display: inline-block;color: <% if(alarm.friday){ %>
									#008000
								  <% } else{ %>  
									#808080
								 <% } %>;text-align: center;border-radius: 4px;">Fri</span>
								<span id="<%= alarm.alarmId %>_sa" onclick="dateboxColor(id)"
								style="cursor: pointer; font-weight: bold;font-size: 14px;line-height: 35px ; width: 35px; border: 2px solid;display: inline-block;color:  <% if(alarm.saturday){ %>
									#008000
								  <% } else{ %>  
									#808080
								 <% } %>;text-align: center;border-radius: 4px;">Sat</span>
								<span id="<%= alarm.alarmId %>_su" onclick="dateboxColor(id)"
								style="cursor: pointer; font-weight: bold;font-size: 14px;line-height: 35px ; width: 35px; border: 2px solid;display: inline-block;color:  <% if(alarm.sunday){ %>
									#008000
								  <% } else{ %>  
									#808080
								 <% } %>;text-align: center;border-radius: 4px;">Sun</span>
							</p>
							
				
							
							<!-- Checkbox Repeat-->
							<div>
								<div style="text-align: center;">
									<div class="onoffswitch">
										Repeat
										<br>
										<input id="recurring" type="checkbox"  <% if(alarm.recurring){ %>
											checked
										  <% } else{ %>  
											
										 <% } %> name="onoffswitch" class="onoffswitch-checkbox" 
											id="s<%= alarm.alarmId %>" onclick="ChuMiNga(<%= alarm.alarmId %>)">
										<label class="onoffswitch-label" for="s<%= alarm.alarmId %>">
											<div class="onoffswitch-inner">
												<div class="onoffswitch-active">
													<div class="onoffswitch-switch">ON</div>
												</div>
												<div class="onoffswitch-inactive">
													<div class="onoffswitch-switch">OFF</div>
												</div>
											</div>
										</label>
									</div>
								</div>
							</div>
							<!-- Checkbox Repeat-->
				
					  
					   
				
							<button class="btn success" style="font-size: 20px" onclick="openUpdateForm(<%= alarm.alarmId %>)">Set Time</button>
							<div style="line-height:50%;">
								<br>
							</div>
							<button class="btn danger" style="font-size: 20px" onclick="location.href='cancel/<%= alarm.alarmId %>'">Remove</button>
						</div>
					</div>
				 
				<% }); %>
				
				

			</div>

		</div>
	</div>

	<!-- Popup cái set bao thức
	<div class="modal" id="alarmId">
		<div class="form-popup modal-content">
			<form action="new.html" class="form-container" method="POST">
				<div>
					<label style="font-size: 25px;">Chọn giờ:</label> <input name="time" style="font-size: 25px;"
						type="time" required>
				</div>

				<br>

				<div>
					<label style="font-size: 25px;">Nhập Tiêu Đề:</label> <br> <input type="text" name="title"
						placeholder="Title">
				</div>

				<br> <label>Chọn ngày báo thức</label> <br>

				<div>
					<label">Mon <input type="checkbox" checked="checked">
						</label> <label>- Tues <input type="checkbox" checked="checked">
						</label> <label>- Wed <input type="checkbox" checked="checked">
						</label> <label>- Thus <input type="checkbox" checked="checked">
						</label> <label>- Fri <input type="checkbox" checked="checked">
						</label> <label>- Sat <input type="checkbox" checked="checked">
						</label> <label>- Sun <input type="checkbox" checked="checked">
						</label>
				</div>

				<br>

				<div>
					<label>Repeat <input type="radio" name="radio">
					</label>
				</div>
				<br> <br>
				<button class="btn success">Set</button>
				<button class="btn danger" onclick="closeAlarmForm()">Cancel</button>
			</form>

		</div>
	</div> -->

	<div class="form-popup" id="alarmId">
		<form action="new.html" class="form-container" method="POST">

			<!-- Bootstrap clock-->
			<div>
				<div class="input-group clockpicker" style="width: 150px; margin: auto; color: black;"
					data-placement="left" data-align="top" data-autoclose="true">
					<input class="form-control" required style="font-size: 30px; text-align: center; outline: none;"
						type="text123" name="time">
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-time"></span>
					</span>
				</div>
			</div>
			<!-- Bootstrap clock-->

			<br>

			<!-- Tiêu đề-->
			<div>
				<label style="font-size: 25px;">Nhập Tiêu Đề:</label>
				<br>
				<input type="text" name="title" style="font-size: 25px; color: black;" placeholder="Title" required>
			</div>
			<!-- Tiêu đề-->


			<br>

			<!-- 7 Checkbox từ thứ 2 đến chủ nhật-->
			<label>Chọn ngày báo thức</label>
			<br>
			<div class="row2">
				<div class="body2 column2" style="color: black;">
					<input name="monday_cb" class="tgl tgl-skewed" id="alarmID_mo" type="checkbox"
						onclick="dateboxColorForm(id)" />
					<label class="tgl-btn" data-tg-off="Mon" data-tg-on="Mon" for="alarmID_mo"></label>
					<br>
					<input name="thursday_cb" class="tgl tgl-skewed" id="alarmID_th" type="checkbox"
						onclick="dateboxColorForm(id)" />
					<label class="tgl-btn" data-tg-off="Thu" data-tg-on="Thu" for="alarmID_th"></label>
				</div>

				<div class="body2 column2">
					<input name="tuesday_cb" class="tgl tgl-skewed" id="alarmID_tu" type="checkbox"
						onclick="dateboxColorForm(id)" />
					<label class="tgl-btn" data-tg-off="Tue" data-tg-on="Tue" for="alarmID_tu"></label>
					<br>
					<input name="friday_cb" class="tgl tgl-skewed" id="alarmID_fr" type="checkbox"
						onclick="dateboxColorForm(id)" />
					<label class="tgl-btn" data-tg-off="Fri" data-tg-on="Fri" for="alarmID_fr"></label>
					<br>
					<input name="sunday_cb" class="tgl tgl-skewed" id="alarmID_su" type="checkbox"
						onclick="dateboxColorForm(id)" />
					<label class="tgl-btn" data-tg-off="Sun" data-tg-on="Sun" for="alarmID_su"></label>
				</div>

				<div class="body2 column2">
					<input name="wednesday_cb" class="tgl tgl-skewed" id="alarmID_we" type="checkbox"
						onclick="dateboxColorForm(id)" />
					<label class="tgl-btn" data-tg-off="Wed" data-tg-on="Wed" for="alarmID_we"></label>
					<br>
					<input name="saturday_cb" class="tgl tgl-skewed" id="alarmID_sa" type="checkbox"
						onclick="dateboxColorForm(id)" />
					<label class="tgl-btn" data-tg-off="Sat" data-tg-on="Sat" for="alarmID_sa"></label>
				</div>
			</div>
			<!-- 7 Checkbox từ thứ 2 đến chủ nhật-->

			<br>

			<!-- Checkbox Repeat-->
			<div>
				<div style="text-align: center;">
					<div class="onoffswitch">
						Repeat
						<br>
						<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox"
							id="alarmId_Repeat_Inpopupform">
						<label class="onoffswitch-label" for="alarmId_Repeat_Inpopupform">
							<div class="onoffswitch-inner">
								<div class="onoffswitch-active">
									<div class="onoffswitch-switch">ON</div>
								</div>
								<div class="onoffswitch-inactive">
									<div class="onoffswitch-switch">OFF</div>
								</div>
							</div>
						</label>
					</div>
				</div>
			</div>
			<!-- Checkbox Repeat-->


			<br>
			<br>

			<!-- Nút End form-->
			<button class="btn success ">Set</button>
			<button class="btn danger " type="button" onclick="closeAlarmForm() ">Cancel</button>
		</form>
	</div>

	<!-- Popup cái update bao thức -->
	<!-- <div class="modal" id="update">
		<div class="form-popup modal-content">
			<form action="update.html" method="post" class="form-container">

				<div>
					<label style="font-size: 25px;">ID:</label> <br> <input id="alarmMid" type="text" name="aid">
				</div>
				<br>
				<div>
					<label style="font-size: 25px;">Chọn giờ:</label> <input name="time" style="font-size: 25px;"
						type="time" required>
				</div>

				<br>

				<div>
					<label style="font-size: 25px;">Nhập Tiêu Đề:</label> <br> <input type="text" name="title"
						placeholder="Title">
				</div>

				<br> <label>Chọn ngày báo thức</label> <br>

				<div>
					<label">Mon <input type="checkbox" checked="checked">
						</label> <label>- Tues <input type="checkbox" checked="checked">
						</label> <label>- Wed <input type="checkbox" checked="checked">
						</label> <label>- Thus <input type="checkbox" checked="checked">
						</label> <label>- Fri <input type="checkbox" checked="checked">
						</label> <label>- Sat <input type="checkbox" checked="checked">
						</label> <label>- Sun <input type="checkbox" checked="checked">
						</label>
				</div>

				<br>


				<div>
					<label>Repeat <input type="radio" name="radio">
					</label>
				</div>
				<br> <br>
				<button class="btn success" type="submit">Set</button>
				<button class="btn danger" onclick="closeUpdateForm()">Cancel</button>
			</form>

		</div>
	</div> -->


	<div class="form-popup" id="update">
		<form action="update.html" class="form-container" method="POST">

			<div>
				<label style="font-size: 25px;">ID:</label> <br> <input id="alarmMid" type="text" name="aid"
					readonly="true">
			</div>
			<br>
			<!-- Bootstrap clock-->
			<div>
				<div class="input-group clockpicker" style="width: 150px; margin: auto; color: black;"
					data-placement="left" data-align="top" data-autoclose="true">
					<input required id="updateTime" readonly="true" style="font-size: 30px; text-align: center;"
						class="form-control" type="text123" name="time" required>
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-time"></span>
					</span>
				</div>
			</div>
			<!-- Bootstrap clock-->

			<br>

			<!-- Tiêu đề-->
			<div>
				<label style="font-size: 25px;">Nhập Tiêu Đề:</label>
				<br>
				<input id="updateTitle" type="text" name="title" style="font-size: 25px; color: black;"
					placeholder="Title" required>
			</div>
			<!-- Tiêu đề-->


			<br>

			<!-- 7 Checkbox từ thứ 2 đến chủ nhật-->
			<label>Chọn ngày báo thức</label>
			<br>
			<div class="row2">
				<div class="body2 column2" style="color: black;">
					<input name="monday_cb" class="tgl tgl-skewed" id="alarmID_mo1" type="checkbox"
						onclick="dateboxColorForm(id)" />
					<label class="tgl-btn" data-tg-off="Mon" data-tg-on="Mon" for="alarmID_mo1"></label>
					<br>
					<input name="thursday_cb" class="tgl tgl-skewed" id="alarmID_th1" type="checkbox"
						onclick="dateboxColorForm(id)" />
					<label class="tgl-btn" data-tg-off="Thu" data-tg-on="Thu" for="alarmID_th1"></label>
				</div>

				<div class="body2 column2">
					<input name="tuesday_cb" class="tgl tgl-skewed" id="alarmID_tu1" type="checkbox"
						onclick="dateboxColorForm(id)" />
					<label class="tgl-btn" data-tg-off="Tue" data-tg-on="Tue" for="alarmID_tu1"></label>
					<br>
					<input name="friday_cb" class="tgl tgl-skewed" id="alarmID_fr1" type="checkbox"
						onclick="dateboxColorForm(id)" />
					<label class="tgl-btn" data-tg-off="Fri" data-tg-on="Fri" for="alarmID_fr1"></label>
					<br>
					<input name="sunday_cb" class="tgl tgl-skewed" id="alarmID_su1" type="checkbox"
						onclick="dateboxColorForm(id)" />
					<label class="tgl-btn" data-tg-off="Sun" data-tg-on="Sun" for="alarmID_su1"></label>
				</div>

				<div class="body2 column2">
					<input name="wednesday_cb" class="tgl tgl-skewed" id="alarmID_we1" type="checkbox"
						onclick="dateboxColorForm(id)" />
					<label class="tgl-btn" data-tg-off="Wed" data-tg-on="Wed" for="alarmID_we1"></label>
					<br>
					<input name="saturday_cb" class="tgl tgl-skewed" id="alarmID_sa1" type="checkbox"
						onclick="dateboxColorForm(id)" />
					<label class="tgl-btn" data-tg-off="Sat" data-tg-on="Sat" for="alarmID_sa1"></label>
				</div>
			</div>
			<!-- 7 Checkbox từ thứ 2 đến chủ nhật-->

			<br>

			<!-- Checkbox Repeat-->
			<!-- <div>
				<div style="text-align: center;">
					<div class="onoffswitch">
						Repeat
						<br>
						<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" "
							id=" alarmId_Repeat_Inpopupform1">
						<label class="onoffswitch-label" for="alarmId_Repeat_Inpopupform1">
							<div class="onoffswitch-inner">
								<div class="onoffswitch-active">
									<div class="onoffswitch-switch">ON</div>
								</div>
								<div class="onoffswitch-inactive">
									<div class="onoffswitch-switch">OFF</div>
								</div>
							</div>
						</label>
					</div>
				</div>
			</div> -->

			<div>
				<div style="text-align: center;">
					<div class="onoffswitch">
						Repeat
						<br>
						<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox"
							id="alarmId_Repeat_Inpopupform4">
						<label class="onoffswitch-label" for="alarmId_Repeat_Inpopupform4">
							<div class="onoffswitch-inner">
								<div class="onoffswitch-active">
									<div class="onoffswitch-switch">ON</div>
								</div>
								<div class="onoffswitch-inactive">
									<div class="onoffswitch-switch">OFF</div>
								</div>
							</div>
						</label>
					</div>
				</div>
			</div>
		

			<!-- Checkbox Repeat-->


			<br>
			<br>

			<!-- Nút End form-->
			<button class="btn success ">Set</button>
			<button class="btn danger " type="button" onclick="closeUpdateForm() ">Cancel</button>
		</form>
	</div>

	<hr>

	<div class="Footer">
		<div class="inner">
			<div class="row">
				<div class="column">
					<h2>Download Our App</h2>
					<img src="images/AppleStore.svg" alt="" width="170" height="56">
					<br> <br> <img src="images/GooglePlay.png" alt="" width="167" height="50">
				</div>
				<div class="column">
					<h2>Resources</h2>
					<p>About Us</p>
					<p>Are you lost?</p>
				</div>
				<div class="column">
					<h2>Legals</h2>
					<p>Terms of Use</p>
					<p>Privacy Policy</p>
					<p>Security</p>
				</div>
				<div class="column">
					<h2>Contact Us</h2>
					<p>Phone: 113</p>
					<p>Email: learncodeweb123@gmail.com</p>
				</div>
				<hr>
				Student From PTITHCM <br> <br> <br>
			</div>

		</div>
	</div>
	<!-- Footer -->


	<!-- Scripts -->

	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/jquery.poptrox.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>
	<script type="text/javascript" src="assets/js/jquery.min.js"></script>
	<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="dist/bootstrap-clockpicker.min.js"></script>
	<script type="text/javascript">
		$('.clockpicker').clockpicker()
			.find('input').change(function () {
				console.log(this.value);
				//alert(this.value);
			});
	</script>

	<script>
		$(".form-control").on('keydown paste', function (e) {
			e.preventDefault();
		});

		function dateboxColorForm(id) {
			checkBox = $('#' + id);

			if (checkBox.is(':checked')) {
				console.log('checked')
			} else {
				console.log('unchecked')
			}
		}
	</script>




	<!-- The core Firebase JS SDK is always required and must be listed first -->
	<script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-app.js"></script>

	<!-- TODO: Add SDKs for Firebase products that you want to use
		 https://firebase.google.com/docs/web/setup#available-libraries -->
	<script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-firestore.js"></script>



	<script src="assets/js/firebaseUtil.js"></script>
	<script>
		/////////////////Banner//////////////////
		var slideIndex = 0;
		showSlides();

		function showSlides() {
			var i;
			var slides = $(".mySlides");
			console.log('length la: ' + slides.length)
			for (i = 0; i < slides.length; i++) {
				slides[i].style.display = "none";
			}
			console.log('slide thu 2' + slides[1])
			slideIndex++;
			if (slideIndex > slides.length) {
				slideIndex = 1
			}
			slides[slideIndex - 1].style.display = "block";
			setTimeout(showSlides, 4000); // fade ảnh sau 10s
		}

		////////////////Form để Set time/////////////
		function openAlarmForm(id) {
			$("#alarmId").show()
		}

		function closeAlarmForm() {
			$("#alarmId").hide()
		}

		function closeUpdateForm() {
			$("#update").hide()

		}
	</script>

</html>